@import "../../_globalColor";



.icon-button {
  margin-bottom: 10px;
}
.coding-media-div {
    display: flex; /* Align items in a row */
    gap: 10px; /* Add spacing between icons */
    justify-content: flex-start; /* Center align items */
    align-items: center; /* Vertically center items */
    
  }


.icon-button i {
  color: $textColorDark;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.facebook i {
  background-color: $faceBook;
}

.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.gitlab i {
  background-color: $gitlab;
}

.google i {
  background-color: $google;
}

.twitter i {
  background-color: $twitter;
}

.medium i {
  background-color: $medium;
}

.stack-overflow i {
  background-color: $stackoverflow;
}

.kaggle i {
  background-color: $kaggle;
}

.instagram i {
  background-color: $instagram;
}


.leetcode i {
  background-color: #f9c51f; /* LeetCode color */
}

.hackerrank i {
  background-color: #2ecb71; /* HackerRank color */
}

.coding-ninjas i {
  background-color: #ff2e2e; /* Coding Ninjas color */
}

.geeksforgeeks i {
  background-color: #2d7d46; /* GeeksforGeeks color */
}
.linkTree i {
  background-color: #2d7d46; /* GeeksforGeeks color */
}

/* Hover Transition */
.twitter i:hover,
.google i:hover,
.gitlab i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover,
.instagram i:hover,
.stack-overflow i:hover,
.kaggle i:hover,
.medium i:hover
/* Hover Transition */
.leetcode i:hover,
.hackerrank i:hover,
.coding-ninjas i:hover,
.geeksforgeeks i:hover  {
  background-color: $textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .coding-media-div {
    text-align: center;
    font-size: 2em;
    display: flex; /* Align items in a row */
    gap: 10px; /* Add spacing between icons */
    justify-content: center; /* Center align items */
    align-items: center; /* Vertically center items */
  }
}